{{yield}}


{{#if addNewRental}}
  <h1>New Rental</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="type">Type</label>
          {{input value=type id="type" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="length">Length</label>
          {{input value=length id="length" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="color">Color</label>
          {{input value=color id="color" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="age">Age</label>
          {{input value=age id="age" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input value=image id="image" class="form-control"}}
        </div>
        <button {{action 'save1'}}>Save</button>
      </form>
    </div>
{{else}}
  <button {{action 'rentalFormShow'}}>Add New Rental</button>
{{/if}}
